1. Introduce the results from Indeed webscrapping here. Excel to df.
2.

In [1]:
import pandas as pd

In [2]:
!ls

Indeed_job_search.ipynb               NPL_on_Job_Descriptions.ipynb
Indeed_job_search_clean_version.ipynb indeed_job_searching_results.xlsx

In [3]:
!pwd

/Users/paxton615/Github_Personal/Indeed_Job_Search/Indeed_Job_Search

In [8]:
df = pd.read_excel(r'/Users/paxton615/Github_Personal/Indeed_Job_Search/Indeed_Job_Search/indeed_job_searching_results.xlsx', index=False)

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
df.head()

,title,company,summary
0,Junior Data Scientist,Novafutur,Being a data scientist would require the abili...
1,Junior Data Analyst,Smarkets,"You enjoy collaborating with data scientists, ..."
2,Junior Data Scientist,Fable Data Limited,"We need to understand Partner Specific data, M..."
3,Sr. Data Scientist - ML Labs,AWS EMEA SARL (UK Branch),Strong communication and data presentation ski...
4,Data Scientist,Amazon Digital UK Limited,Experience with data scripting languages (e.g....